body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0 
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}
h1 {
    color: #007bff;
}
.task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.task-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}
.task-form button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #068e16;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.task-list {
    text-align: left;
    max-height: 500px;
    overflow-y: y;
    transition: max-height 0.3s ease-in-out;
}
.task-list > h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
.task-list-item.removing {
    max-height: 0;
}
.task-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    background-color: #007bffa3;
    border: 2px solid;
}
.task-list-item.removing {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.completed-task-list {
    color: #068e16;
}
.completed-task-list > h2 {
    margin: 0;
    margin-bottom: 10px;
}
.btn-rm-tasks {
    padding: 4px 2px;
    background-color: rgb(255, 36, 36);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.75em;
    margin-left: auto;
}
.completed {
    background-color: #0080004a;
    border: 2px solid;
}
.btn-finish-task {
    padding: 4px 2px;
    background-color: rgb(43, 255, 36);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.75em;
    margin-left: 29rem;
}